name: workflow test
on:
  workflow_dispatch:
  push:
jobs:
  init:
    runs-on: ubuntu-latest
    name: Prepare
    outputs:
      sites: ${{ steps.init.outputs.sites }}
    steps:
      - uses: actions/checkout@v4
      - id: init
        uses: "./.github/init-from-txt"
        with:
          cachePath: "./out"
          count: 3

  scans:
    runs-on: ubuntu-latest
    name: Scan
    needs: init
    continue-on-error: true
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        sites: ${{ fromJson(needs.init.outputs.sites) }}
    steps:
      - uses: actions/checkout@v4

      - run: |
          echo ${{ matrix.sites.url }}
